.btn {
    border-radius: 10px;
    width: 100px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    text-decoration: none;
    font-size: 20px;
}

.btn_disable {
    border-radius: 10px;
    width: 100px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    text-decoration: none;
    font-size: 20px;
}

.signup_btn {
    background-color: #18592E;
}

.signup_btn_disable {
    background-color: #18592eb0;
    color: #ffffffb0;
    border-color: #00000020;
}

.login_btn {
    background-color: #3A2F2F;
}

.login_btn_disable {
    background-color: #3A2F2Fb0;
    color: #ffffffb0;
    border-color: #00000020;
}

.btn:hover {
    transform: translate(2px, -2px);
    box-shadow: -5px 5px #00000081;
    transition: 0.4s ease;
    cursor: pointer;
}

.search_product_btn {
    background-color: #18592E;
    width: 114px;
    height: 45px;
    border-radius: 20px;
    font-size: 15px;
}

.search_product_btn_disable {
    background-color: #18592eb0;
    color: #ffffffb0;
    border-color: #00000020;
    width: 114px;
    height: 45px;
    border-radius: 20px;
    font-size: 15px;
}

.add_to_bag_btn {
    border-radius: 20px;
    width: 114px;
    height: 45px;
    font-size: 15px;
    background-color: #E08923;
}

.btn_update_product_quantity {
    font-size: 20px;
    border: 0px;
    color: black;
    height: 30px;
    width: 14px;
    background-color: transparent;
}

.btn_update_product_quantity:hover {
    transform: none;
    box-shadow: none;
    transition: none;
    cursor: pointer;
}