.btn {
    border-radius: 10px;
    width: 100px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    text-decoration: none;
}

.signup_btn {
    background-color: #18592E;
}

.login_btn {
    background-color: #3A2F2F;
}

.btn:hover {
    transform: translate(2px, -2px);
    box-shadow: -5px 5px #00000081;
    transition: 0.4s ease;
}