.loader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1c1921b1;
    background-position: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container-miscellaneous {
    background-color: #715397;
}

.cs_square {
    width: 100px;
    height: 100px;
    background: transparent;
    transform: rotate(-45deg);
    display: flex;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.cs_square1 {
    width: 50%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    background-color: rgb(106, 33, 10);
}

.cs_square2 {
    width: 50%;
    background-color: black;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}