.plr {
    display: grid;
    grid-template-columns: 80vw;
    grid-row-gap: 40px;
    justify-content: space-around;
    align-items: center;
}

.plr_product_card {
    width: 80vw;
}

@media screen and (min-width: 630px) and (max-width: 992px) {
    .plr {
        grid-template-columns: 40vw 40vw;
    }

    .plr_product_card {
        width: 40vw;
    }
}

@media screen and (min-width: 993px) and (max-width: 1400px) {
    .plr {
        grid-template-columns: 30vw 30vw 30vw;
    }

    .plr_product_card {
        width: 30vw;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1700px) {
    .plr {
        grid-template-columns: 22vw 22vw 22vw 22vw;
    }

    .plr_product_card {
        width: 22vw;
    }
}

@media screen and (min-width: 1701px) {
    .plr {
        grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    }

    .plr_product_card {
        width: 18vw;
    }
}