.banner {
    background: linear-gradient(180deg, rgba(10, 106, 31, 0.71) 0%, rgba(0, 0, 0, 0.71) 83.33%);
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not_found_banner {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.71) 83.33%);
}

.banner_tittle {
    background-color: transparent;
    font-size: 30px;
    margin-bottom: 20px;
}

@media screen and (min-width: 993px) {
    .banner {
        height: 70vh;
        width: 70vw;
    }

    .banner_tittle {
        font-size: 40px;
        margin-bottom: 20px;
    }
}